@import "tailwindcss";
@plugin "tailwindcss-animate";

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  * {
    @apply border-default;
  }
}

@theme inline {
  --font-satoshi: var(--font-satoshi), sans-serif;
  --font-gambetta: var(--font-gambetta), sans-serif;
  --font-chillax: var(--font-chillax), sans-serif;

  --breakpoint-sm: 810px;
  --breakpoint-md: 1280px;

  --text-heading-lg: 128px;
  --text-heading-lg--line-height: 110%;

  --text-heading-md: 80px;
  --text-heading-md--line-height: 110%;

  --text-heading-sm: 64px;
  --text-heading-sm--line-height: 110%;

  --text-meta: 13px;
  --text-meta--line-height: 120%;
  --text-meta--letter-spacing: 1.5px;

  --text-lg: 24px;
  --text-lg--line-height: 150%;

  --text-md: 22px;
  --text-md--line-height: 150%;

  --text-sm: 18px;
  --text-sm--line-height: 150%;

  --text-color-muted: hsl(35, 41%, 60%, 0.6);
  --text-color-default: hsl(35, 41%, 75%);
  --text-color-inverse: hsl(210, 3%, 12%);

  --background-color-default: hsl(0, 0%, 5%);
  --background-color-muted: hsl(35, 41%, 75%, 0.05);
  --background-color-muted-hover: hsl(35, 41%, 75%, 0.1);
  --background-color-primary: hsl(35, 41%, 75%);
  --background-color-primary-hover: hsl(35, 60%, 82%);
  --background-color-secondary: hsl(0, 0%, 10%);
  --background-color-secondary-hover: hsl(0, 0%, 13%);

  --border-color-default: hsl(35, 41%, 75%, 0.15);
  --border-color-default-hover: hsl(35, 41%, 75%, 0.3);

  --animate-marquee-left: marquee-left var(--duration, 40s) linear infinite;
  --animate-marquee-up: marquee-up var(--duration, 40s) linear infinite;

  @keyframes marquee-left {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @keyframes marquee-up {
    from {
      transform: translateY(0%);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}
